<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>New Link</h2>
    <%= form_for(@link) do |f| %>
      <% if @link.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>
          <ul>
            <% @link.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :title %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :url %><br />
        <%= f.text_field :url, class: 'form-control' %>
      </div>
      <div class="actions form-group">
        <%= f.submit "New Link", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
